# Desarrollo local - NO subir este archivo con secretos reales.
APP_PORT=8004
PHPMYADMIN_PORT=8084
DB_PORT=3310

DB_HOST=db
DB_NAME=student_portal_db
DB_USER=student_portal_user
DB_PASS=cambiar_esta_clave
MYSQL_ROOT_PASSWORD=cambiar_esta_clave_root
TZ=America/La_Paz
